::-webkit-scrollbar {
    display: none;
}

body {
    background: #F5F8FF;
    font-family: "Raleway", sans-serif;
}

header {
    padding: 0 112px;
    z-index: 100 !important;
}

section {
    padding: 0 112px;
}

.containers {
    width: 100%;
    max-width: 1440px;
    margin: auto;
}


.bgtrans {
    background: url('./assest/herovector.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: -1 !important;
}

.interfont {
    font-family: "Inter", sans-serif;
}


.topbordereremoveral {
    height: 20px;
    transform: translateY(-10px);
    background: #F5F8FF;
    width: 100%;
}

.navberTrnasparantBg {
    background: rgba(0, 0, 0, 0.632);
}



/*footer css here */
.footer {
    background: url('./assest/footerbg.png');
    background-position: center;
    background-size: cover;
    height: fit-content;
    padding-bottom: 112px;
}

.footer-icon-opacity {
    opacity: .30;
}

.footer-wrper {
    padding: 0 112px;
}











/* .shownav {
    animation-name: shownav;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
  
} */


/* animation here */
/* @keyframes shownav {
    0% {
        display: none;
    }

    100% {
        display: block;
    }
} */



@media (max-width:1200px) {

    section,
    header {
        padding: 0 80px;
    }

    .footer-wrper {
        padding: 0 80px;
    }

    .footer {
        padding-bottom: 80px;
    }
}




@media (max-width:990px) {

    section,
    header {
        padding: 0 60px;
    }

    .footer-wrper {
        padding: 0 60px;
    }

    .footer {
        padding-bottom: 60px;
    }
}



@media (max-width:768px) {

    section,
    header {
        padding: 0 40px;
    }

    .footer-wrper {
        padding: 0 40px;
    }

    .footer {
        padding-bottom: 40px;
    }
}