::-webkit-scrollbar {
    display: none;
}

body {
    background: #F5F8FF;
    font-family: "Raleway", sans-serif;
    overflow-x: hidden;
    user-select: none;
}

header {
    padding: 0 112px;
    z-index: 100 !important;
}

section {
    padding: 0 112px;
}


.colorBurn {
    mix-blend-mode: color-burn;
}

.containers {
    width: 100%;
    max-width: 1440px;
    margin: auto;
}


.bgtrans {
    background: url('./assest/herovector.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: -1 !important;
}

.interfont {
    font-family: "Inter", sans-serif;
}


.topbordereremoveral {
    height: 20px;
    transform: translateY(-10px);
    background: #F5F8FF;
    width: 100%;
}

.navberTrnasparantBg {
    background: rgba(0, 0, 0, 0.632);
}



/*footer css here */
.footer {
    background: url('./assest/footerbg.png');
    background-position: center;
    background-size: cover;
    height: fit-content;
    padding-bottom: 112px;
}

.footer-wrper {
    padding: 0 112px;
}















/* swiper js */
.swiper {
    width: 100%;
    height: 100%;
    background: #F5F8FF;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 34px;
    border-radius: 10px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}




/* left and right btn  */
.leftbtn:hover {
    transition: .5s;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.rightbtn:hover {
    transition: .5s;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.leftbtn:hover .icon {
    transform: translateX(10px);
    height: 9px;
    width: 20px;
    opacity: 0;
    animation-name: leftani;
    animation-duration: .90s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.rightbtn:hover .icon {
    transform: translateX(-10px);
    height: 9px;
    width: 20px;
    opacity: 0;
    animation-name: rightani;
    animation-duration: .90s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}


@keyframes leftani {
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes rightani {
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}




/* priceing css code here */
.priceBTnWraer:hover {
    transition: all .90s;
    background: #e6ebf5;
}

.priceBTnWraer:hover .price-Icon {
    transform: translateX(-15px);
    height: 30px;
    width: 40px;
    opacity: 0;
    animation-name: rightani;
    animation-duration: .90s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}




/* small screen css code navber */
#smallnav {
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    transform: translateX(-100%);
    /* Hidden outside the screen */
    opacity: 0;
    z-index: 999;
    /* Make sure it's on top */
}

#smallnav.active {
    transform: translateX(0);
    /* Slide in from the right */
    opacity: 1;
}




@media (max-width:1200px) {

    section,
    header {
        padding: 0 72px;
    }

    .footer-wrper {
        padding: 0 72px;
    }

    .footer {
        padding-bottom: 72px;
    }
}




@media (max-width:990px) {

    section,
    header {
        padding: 0 44px;
    }

    .footer-wrper {
        padding: 0 44px;
    }

    .footer {
        padding-bottom: 44px;
    }
}



@media (max-width:768px) {

    section,
    header {
        padding: 0 20px;
    }

    .footer-wrper {
        padding: 0 20px;
    }

    .footer {
        padding-bottom: 20px;
    }
}